/* footer - section class
   footerSM - social media links class
*/

.footer {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.footerSM {
    border: 1px solid blue;
    width: 5%;
    height: 5%;
    
}

.footer h4 {
    border: 1px solid green;
}

.footer a {
    border: 1px solid purple;
}