/* remove borders */

.navbar {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3em;
}

.navbar h1 {
    font-size: 2.2em;
    margin-right: 10%;
}

.navbar nav {
    border: 1px solid purple;
    display: flex;
    width: 25%;
}

.navbar a {
    border: 1px solid red;
    text-decoration: none;
    font-size: 1.2em;
    margin: 5%;
}

.navbar button {
    border: 1px solid blue;
    margin-left: 10%;
}
