.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3em;
    background-color: black;
    color: white;
    padding: 1%;
}

.navbar h1 {
    font-size: 2.2em;
}

.navbar button {
    margin-top: 2%;
    height: 40%;
}
